/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
/.idea
/frontend/node_modules
/frontend/dist

/frontend/.pnp.*
/frontend/.yarn/*
/frontend/!.yarn/patches
/frontend/!.yarn/plugins
/frontend/!.yarn/releases
/frontend/!.yarn/sdks
/frontend/!.yarn/versions